In [1]:
import kaggle
import pandas as pd
import zipfile

In [2]:
#!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

In [3]:
#with zipfile.ZipFile('london-bike-sharing-dataset.zip', 'r') as file:
    # file.extractall()

In [4]:
# Add data to pandas dataframe
df = pd.read_csv('london_merged.csv')

In [5]:
# Taking a first look into London Bike Sharing Dataset from Kaggle
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [6]:
# View data in pandas dataframe format
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

Checklist:
1) EDA
2) Rename columns
3) map weather code
4) map season

In [7]:
# Check the occurence of unique weather codes
print(df['weather_code'].unique())
df['weather_code'].value_counts()

[ 3.  1.  4.  7.  2. 26. 10.]

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [8]:
# Check the occurence of each season
df['season'].value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [9]:
# Create column dictionary according to Kaggle metadata
column_dict = {
    'timestamp' : 'time',
    'cnt' : 'bike_count',
    't1' : 'real_temp_C',
    't2' : 'feels_like_temp_C',
    'hum' : 'humidity_percent',
    'wind_speed' : 'wind_speed_kmh',
    'weather_code' : 'weather'
}
# Rename columns
df.rename(columns = column_dict, inplace=True)

In [10]:
# Create dictionaries for season and weather according to Kaggle metadata
season_dict = {
    '0.0' : 'Spring',
    '1.0' : 'Summer',
    '2.0' : 'Fall',
    '3.0' : 'Winter'
}
weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered clouds',
    '3.0' : 'Broken clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with thunderstorm',
    '26.0' : 'Snowfall',
    '94.0' : 'Freezing fog'
}

In [11]:
# Mapping corresponding values from dictionary to 'season' and 'weather' columns 
df['season'] = df['season'].astype(str).map(season_dict)
df['weather'] = df['weather'].astype(str).map(weather_dict)

In [12]:
# Final check to see if the data looks correct
df

,time,bike_count,real_temp_C,feels_like_temp_C,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,Winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,Broken clouds,0.0,0.0,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,Cloudy,0.0,0.0,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,Cloudy,0.0,0.0,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,Cloudy,0.0,0.0,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,Scattered clouds,0.0,0.0,Winter

In [15]:
# Export data in excel format
df.to_excel('London_bike_final.xlsx', sheet_name='Data')